@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  background-color: #f5f5f5;
  color: #333333;
}
/* Mise en page du header */
header.header {
    max-width: 1160px;
    margin: auto;
    background-color: #17abb3;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;     
    padding-bottom: 30px;   
    padding-left: 20px;     /* pour équilibrer */
    padding-right: 20px;    /* idem */
    font-family: Lato, sans-serif;
    box-sizing: border-box; /* pour que le padding ne dépasse pas */
}

.header-inner {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.profile-link {
  display: inline-block;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  border: 3px solid #ffffff;
  cursor: zoom-in;
}

.header-text {
  flex: 1;
}

.header-text h1 {
  margin: 0;
  font-size: 2.5em;
}

.header-text h2 {
  margin: 10px 0 20px;
  font-weight: normal;
  font-size: 1.2em;
}
.icons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  text-align: start;
  gap: 10px 40px;
  font-size: 1em;
  color: #ffffff;
  font-weight: lighter;
}

.icons i {
  margin-right: 8px;
  color: #ffffff;
}


/* Mise en paége du corps du CV */

.container {
  display: flex;
  max-width: 1160px;
  margin: auto;
  background: #ffffff;
  font-family: raleway, sans-serif;
  font-size: 0.9rem;
}

.date {
  float: right;
  color: #17abb3;
  font-size: 0.9em;
}

.content{
    padding: 20px;
    text-align: justify;
    width: 100%;
}

.content section:first-of-type p { /* indentation + justification seulement pour le profil */
  text-indent: 2em;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
}

section h3 {
  color: #17abb3;
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
}
/* Aside */

.section h3 {
    color: #17abb3;
    margin-top: 20px;
    border-bottom: 1px solid #e3e3e3;
}

.sidebar {
  width: 30%;
  background: rgba(227, 227, 227, 0.6);
  padding: 20px;
}
/* Style listes */
ul{
    font-size: 0.8rem;
}

.item {
  position: relative;
  padding-left: 15px;
  transition: background-color 0.3s ease;
}

.item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 1px;
  width: 4px;
  background-color: transparent;
}

.item:hover {
  background-color: #e3e3e3; /* fond au survol */
}

.item:hover::before {
  background-color: #17abb3; /* trait turquoise */
}

/* Compétences */
.skills{
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.skills li {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
}
.skill-name {
  font-weight: bold;
} 

.stars {
  color: #17abb3;
  float: right;
}


/* Qualité + Centres d'Intérêts */
ul.list-dot {
  list-style: square;
  padding-left: 0;
  margin: 0;
}

.list-dot li::marker {
  color: #17abb3; 
}

ul.list-dot li {
  position: relative;

}

/* Langues */

ul.langues {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.langues li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

ul.langues .langue {
  font-weight: bold;
}

ul.langues .niveau {
  text-align: right;
}

/* Mise en page du footer */

footer.footer {
  background-color: #17abb3;
  color: #ffffff;
  padding: 20px 0;
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
}

.footer-icons i {
  color: #ffffff;
  font-size: 1.5em;
  margin: 0 10px;
}

.footer-icons a:hover i {
  opacity: 0.7; /* Réduction de l’opacité au survol */
}